@{
    ViewData["Title"] = "Home Page";
}
<body id="home" class="big-bg">
    <div  class="home-content">
        <h1 class ="home-content">ようこそサンプルアプリへ！</h1>
        <p class="home-content">ここは【Home】のページです。<br />【名簿】から名簿の登録や一覧を、
            【Todo】からTodoリストの作成や表示を行えます。現在作成中です。
        </p>
    </div><!-- /#home -->
</body>